@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ranchers&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, #0e1330 0%, #1a2046 60%, #18183a 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
} 